@font-face {
  font-family: Outfit;
  src: url(./assets/family/Outfit-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  overflow: hidden;
  user-select: none;
}

.app{
  background-color: #1B1B1B;
  // min-height: 100vh;
}

.qr{
  height: 100vh;
  & img{
    width: 50%;
  }
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  font-size: 32px;
  padding: 20px;
  flex-direction: column;
  z-index: 11;

  &-inner{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &-progress{
    position: absolute;
    background-color: #00FF38;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
  }

  &-item{
    width: 100%;
    justify-content: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;

    &__subtitle, & span{
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__title{
    font-size: 42px;
  }

  &__subtitle{
    font-size: 16px;
    opacity: .75;
    margin: 10px 0;
  }

  &__img{
    width: 8%;
  }

  & .tap-circle{
    width: 40px;
    height: 40px;
    border: 4px solid rgb(7, 211, 0);;

    &:before{
      background-image: none;
    }
  }
}

.tap{
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  margin: auto;

  &__title{
    animation-name: animate-click;
    animation-duration: 2s;

    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    // z-index: 999;
    transition: .2s;
    cursor: default;
  }

  &-circle{
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, #09f63c,  #194322);
    overflow: hidden;
    border: 12px solid rgb(7, 211, 0);
    box-shadow: 0 0 10px #09f63c;
    transition: .4s;
  
    &.clicked{
      transform: scale(1.06);
    }
  
    &:before{
      content: "";
      position: absolute;
      left: -20px;
      top: 20px;
      width: 100%;
      height: 100%;
      background: url(./assets/img/png-klev-club-jreq-p-armiya-png-26.png) center center / cover;
    }
  
    &-inner{
      position: absolute;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      z-index: 10;
    }
  }
}

.nav{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding: 20px;
  background-color: #1B1B1B;

  &-inner{
    border-radius: 20px;
    border: 2px solid #838383;
    width: 100%;
    padding: 10px;
  }

  &__link{
    width: 100%;
    padding: 10px;
    color: #b4b4b4;
    text-align: center;
    text-decoration: none;
    transition: .2s;

    &:hover{
      color: #fff;
      
    }

    &.active{
      color: #fff;
    }

    &:not(:last-child){
      border-right: 2px solid #838383;
    }
  }
}

.home{
  width: 100%;
  height: 100vh;
  padding-bottom: 104px;
}

.rating{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 104px; // nav
  gap: 40px;
  color: #fff; 

  &-slider{
    &__img{
      width: 60px;
    }

    &__btn{
      position: absolute;
      opacity: 0.75;
      transition: .2s;

      &:hover{
        opacity: 1;
      }

      &:first-child{
        left: 20px;
        top: calc(50% - 47px);
        transform: rotate(180deg) translateY(50%);
      }

      &:last-child{
        right: 20px;
        top: calc(50% - 47px);
        transform: translateY(-50%);
      }
    }
  }
}

.boost{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  color: #fff; 
  padding: 40px 20px 104px;

  &-item{
    border-radius: 20px;
    border: 2px solid #838383;
    width: 100%;
    padding: 20px 40px;
    font-weight: 900;
    justify-content: space-between;
    transition: .2s;

    &.hidden{
      opacity: .4;
      background: none;
      box-shadow: none;
      cursor: default;

      &:hover{
        background: none;
        box-shadow: none;
        cursor: default;
      }
    }

    &:hover{
      background-color: #838383;
      box-shadow: 0 0 15px #838383;
      cursor: pointer;
    }

    & .flex{
      gap: 10px;
    }
  }

  & .tap-circle{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(7, 211, 0);;

    &:before{
      background-image: none;
    }
  }
}

.shop{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  padding: 40px 20px 104px;

  &-list{
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  &-item{
    border-radius: 20px;
    border: 2px solid #838383;
    width: 100%;
    padding: 20px 40px;
    font-weight: 900;
    justify-content: space-between;
    transition: .2s;

    &.hidden{
      opacity: .4;
      background: none;
      box-shadow: none;
      cursor: default;

      &:hover{
        background: none;
        box-shadow: none;
        cursor: default;
      }
    }

    &:hover{
      background-color: #838383;
      box-shadow: 0 0 15px #838383;
      cursor: pointer;
    }

    & .flex{
      gap: 10px;
    }
  }

  & .tap-circle{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(7, 211, 0);;

    &:before{
      background-image: none;
    }
  }
}

@keyframes animate-click {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-500%);
    opacity: 0;
  }
}